<%- include("./partials/header")%>
<%- include("./partials/nav")%>

    <!--comeco pagina cursos-->
    <div class="container-site">

        <div class="caco"></div>


        <section class="encabezado">
            <i class="fas fa-book"></i>
            <h2 class="main-header">CADASTRO DE CURSOS</h2>            
        </section>
        <!--encabezado-->

        <section>
            <a href="/database/dashboard/cursonovo" class="btn btn-primary">Novo Curso</a> 
            <a href="/database/dashboard" class="btn btn-primary">Voltar a Dashboard</a>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Ilustração</th>
                        <th>Descrição</th>                       
                        <th>Carga Horária</th>
                        <th>Link</th>                       
                        <th>Área de Estudo</th>                       
                        <th>Ação</th>                       
                    </tr>
                </thead>
                <tbody>                    
                        <% cursos.forEach(curso => { %>
                        <tr>
                            <td><%= curso.id %> </td>
                            <td><%= curso.nome %> </td>
                            <td><%= curso.ilustracao %> </td>
                            <td><%= curso.descricao %> </td>
                            <td><%= curso.carga_horaria %></td>
                            <td><%= curso.link %> </td>                            
                            <td><%= curso.area_estudo_id %> </td>                            
                            <td>
                                <form class="form-cadastro1" name="<%= curso.nome %><%= curso.id %>" action="/database/dashboard/curso/excluir/<%= curso.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="btn-dashboard">
                                        <span><i class="fas fa-times"></i></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>                    
                </tbody>
            </table>            
        </section>    

<%- include("./partials/footer")%>