<%- include("./partials/header")%>
<%- include("./partials/nav")%>

    <!--comeco pagina cursos-->
    <div class="container-site">

        <div class="caco"></div>


        <section class="encabezado">
            <i class="fas fa-book"></i>
            <h2 class="main-header">AREAS DE ESTUDO</h2>
            
        </section>
        <!--encabezado-->

        <section>
            <a href="/database/dashboard/areanova" class="btn btn-primary">Nova Area</a>
            <a href="/database/dashboard" class="btn btn-primary">Voltar a Dashboard</a>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Area</th>                        
                    </tr>
                </thead>
                <tbody>                    
                        <% areas.forEach(area => { %>
                        <tr>
                            <td><%= area.id %> </td>
                            <td><%= area.area %> </td>
                            
                        </tr>
                        <% }) %>                    
                </tbody>
            </table>            
        </section>    

<%- include("./partials/footer")%>