<%- include("./partials/header")%>
<%- include("./partials/nav")%>

    <!--comeco pagina cursos-->
    <div class="container-site">

        <div class="caco"></div>


        <section class="encabezado">
            <i class="fas fa-book"></i>
            <h2 class="main-header">CADASTRO DE CURSOS</h2>
            <h4 class="subt-main-header videos">Editar curso</h4>
        </section>
        <!--encabezado-->
        <a class="link-cadastro" href="/database/dashboard">Voltar a Dashboard</a>
        
        <form class="form-cadastro" action="/database/dashboard/curso/editar/<%= curso.id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
            <fieldset>
              
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" value="<%= curso.nome %>" required>

                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao"><%=curso.descricao %> </textarea>

                <label for="carga_horaria">Carga Horária</label>
                <input type="text" name="carga_horaria" id="carga_horaria" value="<%= curso.carga_horaria %>" required>

                <label for="link">Link do curso</label>
                <input type="url" name="link" id="link" value="<%= curso.link %>" required>

                <label for="ilustracao">Ilustração</label>
                <% if (curso.ilustracao) { %> 
                    <img src="/uploads/<%= curso.ilustracao %>" alt="">
                <% } %>

                <input type="file" name="ilustracao" id="ilustracao">

                <label for="area_estudo_id">Área Estudo</label>
                <input type="text" name="area_estudo_id" id="area_estudo_id" value="<%= curso.area_estudo_id %>" required>

                <button type="submit" class="enviar btn btn-primary">Atualizar</button>
            </fieldset>
        </form>

        <%- include("./partials/footer")%>
