<%- include("./partials/header")%>
<%- include("./partials/nav")%>
<!--comeco pagina ASSOCIADOS-->
<div class="container-site">

    <div class="caco"></div>
    <!--espacamento header-->

    <section class="encabezado">
        <i class="fas fa-cube"></i>
        <h2 class="main-header">PLANOS</h2>
        <h4 class="subt-main-header">Nossa plataforma oferece conectividade ilimitada para que você possa desfrutar de sua aula onde quer que esteja. É muito fácil, você não precisa de nenhum software ou programa especial. Só escolher o plano e pronto!</h4>
    </section>
    <!--encabezado-->


    <section class="planos-header">
        <div class="texto-header">
            <h1>A porta de entrada para o maravilhoso mundo dos vinhos.</h1>
            <h3>Sabe quando você pode começar? Agora!</h3>
        </div>

        
            <section class="card-planos-container">                
                <% planos.forEach((plano)=>{%>
                <div class="card-planos">                    
                    <div class="nombre-plano">
                        <div class="icono-plano"><i class="ico-curso fas fa-wine-glass-alt"></i></div>
                        <h1><%=plano.plano %> </h1>
                    </div>
                    <div class="precio-plano">
                        <span>R$<%=plano.preco %></span>
                        <p class="subti"> à vista R$<%=plano.vista %></p>
                    </div>
                    <div class="beneficios">
                        <div class="beneficio-icono">
                            <i class="fas fa-check"></i>
                            <p><%=plano.beneficio1 %></p>
                        </div>
                        <div class="beneficio-icono">
                            <i class="fas fa-check"></i>
                            <p><%=plano.beneficio2 %></p>
                        </div>
                        <div class="beneficio-icono">
                            <i class="fas fa-check"></i>
                            <p><%=plano.beneficio3 %></p>
                        </div>
                        <div class="beneficio-icono">
                            <i class="fas fa-check"></i>
                            <p><%=plano.beneficio4 %></p>
                        </div>
                        <div class="beneficio-icono">
                            <i class="fas fa-check"></i>
                            <p><%=plano.beneficio5 %></p>                                                    
                        </div>
                        <!--beneficios icono-->                      
                    </div>
                    <a href="/login"><button class="planos-boton ">Matricule-se</button></a>
                
                </div>
                
                <% }) %> <!--card-planos-container-->
            </section>            
    </section>

    <section class="contenedor-form ">
        <div class="contacto-header ">
            <h1>DÚVIDAS? ENVIE UMA MENSAGEM</h1>
            <h3>Preencha e envie o formulário. Retornaremos em breve.</h3>
        </div>
        <form id="formulario" class="formulario" method="POST" action="/planos">
            <div class="coluna-izq">
                <div class="primeros">
                    <input type="text" placeholder="Nome *" name="nome" id="nome" class="w50" required>
                    <input type="text" placeholder="Cidade/Estado *" name="cidade" id="cidade" class="w50" required>
                </div>
                <input type="email" placeholder="Email *" name="email" id="email" class="w100" required>
                <input type="tel" placeholder="Telefone *" name="tel" id="tel" class="w100 celular" required>
                <textarea placeholder="Mensagem" name="mensaje" id="mensaje"required></textarea>
            </div>
            <div class="coluna-der">
                <div class="imagen-contact">
                    <img id="imagenctc" src="/images/foto-index/contactform.jpeg" alt="">
                </div>
                <!-- <div class="segundos">
                    <label for="horario" class="label-format">A que horas você prefere que liguemos?</label>
                    <select name="horario" id="horario ">
                        <option selected disabled>Selecione horario</option>
                        <option value="primer_horario">9 a 12h</option>
                        <option value="primer_horario">12 a 15h</option>
                        <option value="primer_horario">15 a 18h</option>
                        <option value="primer_horario">18 a 21h</option>
                        <option value="primer_horario">A qualquer momento</option>
                    </select>
                    <p class="label-format">Em qual oferta você está interessado?</p>
                    <input type="radio" id="iniciante" name="paquete" value="iniciante">
                    <label for="iniciante" class="label-radio ">Iniciante</label><br>

                    <input type="radio" id="enofilo" name="paquete" value="enofilo">
                    <label for="enofilo" class="label-radio ">Enófilo</label><br>

                    <input type="radio" id="conocedor" name="paquete" value="conocedor">
                    <label for="conocedor" class="label-radio">Conhecedor</label>
                </div> -->
                <p id="campos" class="campos-obligatorios">* Campos obrigatórios</p>
                <button type="submit" id="btnMailer"class="btn">Enviar</button>
                
            </div>
        </form>
    </section>

    <div class="sombra "></div>
<%- include('./partials/footer'); %>